.MuiListItemText-primary {
    
}

span.MuiTypography-root {
    font-weight: bold;
}

p.MuiTypography-root {
    color: rgb(128, 128, 176);
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.MuiList-root:hover {
    background: skyblue
}

.MuiSvgIcon-root {
    margin-left: 5px;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 40px !important;
}